/*
Colors used:
Primary Color (Soft Black): #1e1e1e
Secondary Color (Turquoise): #2c9c91
Tertiary Color (Soft Grey): #cdcdcd
*/

/*
Basic Rules: html, body, a, h1, h2, img
*/

.figtree {
  font-family: "Figtree", sans-serif;
  font-weight: weight;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

body {
  background-color: #fff;
  font-family: "figtree", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #1e1e1e;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  border-bottom: #1e1e1e 1px solid;
  width: [object Object]px;
  height: [object Object]px;
  border: solid #bdbdbd 0;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.1);
  position: relative;
}

nav {
  display: inline-block;
  width: 100%;
}

/* Headings
*/

h1 {
  font-size: 2.986rem;
  font-weight: 800;
  line-height: 1.6em;
}

h2 {
  font-size: 2.488rem;
  font-weight: 700;
  line-height: 1.6em;
}

h3 {
  font-size: 2.074rem;
  font-weight: 400;
  line-height: 1.6em;
}

h4 {
  font-size: 1.728rem;
  font-weight: 400;
  line-height: 1.6em;
}

h5 {
  font-size: 1.44rem;
  font-weight: 400;
  line-height: 1.6em;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6em;
}

/* Text
*/

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
}

small {
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.6em;
}

/* Images
*/

img {
  width: 100%;
}

.logo {
  max-width: 250px;
}

#socials > ul {
  list-style-type: none;
  padding: 0;
}

/*
Specific Rules: Links, Buttons, Forms
*/

/* Links
*/

a {
  color: #1e1e1e;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #2c9c91;
}

a:visited {
  color: #bdbdbd;
}

a:focus {
  border: 2px solid #2c9c91;
  color: #2c9c91;
}

a:active {
  color: #2c9c91;
}

#current {
  color: #2c9c91;
}

/* Buttons
*/

.button {
  vertical-align: middle;
  display: inline-block;
  background-color: #2c9c91;
  color: #fafafa;
  font-weight: 600;
  border-radius: 24px;
  padding: 12px;
  text-align: center;
}

.button:hover {
  color: #fafafa;
  font-weight: 600;
  text-decoration: none;
  opacity: 80%;
}

.button:visited {
  color: #fafafa;
}

.button:active {
  color: #fafafa;
  font-weight: 600;
  text-decoration: none;
  opacity: 80%;
}

.button:focus {
  border: #1e1e1e solid;
  opacity: 80%;
}

#activelink {
  color: #2c9c91;
}

/*
Layout: Columns & Rows
*/

.row {
  margin: 25px 0;
}

/*
Sections & Elements
*/

#hero {
  background-color: #fff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  color: #2c9c91;
}

#hero p {
  text-align: center;
}

#about h1 {
  text-align: center;
}

#work h2 {
  text-align: center;
}

#bio {
  text-align: left;
}

#work {
  text-align: left;
}

#skillandtools {
  text-align: left;
}

#contact .container {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 800;
}

nav > ul > li > a:hover {
  color: #2c9c91;
}

nav > ul > li > a:focus {
  border: 2px solid #2c9c91;
  color: #2c9c91;
}

nav > ul > li > a:active {
  color: #2c9c91;
}