/*
Colors used:
Primary Color (Soft Black): #1e1e1e
Secondary Color (Turquoise): #2c9c91
Tertiary Color (Soft Grey): #cdcdcd
*/

.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-color: #fff;
  font-family: "figtree", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #1e1e1e;
}

/*
Font
*/

h1 {
  font-size: 2.986rem;
  font-weight: 700;
  line-height: 1.6em;
}

h2 {
  font-size: 2.488rem;
  font-weight: 700;
  line-height: 1.6em;
}

h3 {
  font-size: 2.074rem;
  font-weight: 400;
  line-height: 1.6em;
}

h4 {
  font-size: 1.728rem;
  font-weight: 400;
  line-height: 1.6em;
}

h5 {
  font-size: 1.44rem;
  font-weight: 400;
  line-height: 1.6em;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em;
}

small {
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.6em;
}

/*
Images
*/

img {
  width: 100%;
}

/*
Links
*/

a {
  color: #1e1e1e;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #2c9c91;
}

a:visited {
  color: #bdbdbd;
}

a:active {
  color: #2c9c91;

}

a:focus {
  border: 2px solid #2c9c91;
  color: #2c9c91;
}

/*
Button
*/

.button {
  vertical-align: middle;
  display: inline-block;
  background-color: #2c9c91;
  color: #fafafa;
  font-weight: 600;
  border-radius: 24px;
  padding: 12px;
  text-align: center;
  
}

.button:hover {
  color: #fafafa;
  font-weight: 600;
  text-decoration: none;
  opacity: 80%;
}

.button:visited {
  color: #fafafa;
}

.button:active {
  color: #fafafa;
  font-weight: 600;
  text-decoration: none;
  opacity: 80%;
}

.button:focus {
  border: #1e1e1e solid;
  opacity: 80%;
}